
.card{
    width: 300px;
    height: 540px;
    background:rgb(12, 12, 12);
    margin: 20px;
    border-radius: 7px; 
   
     
    
}

.card:hover{
    transform: scale(1.1);
}
.card{
    transition: all .5s ease-in-out;
}


.contenedorLogo{
    width: 300px;
    height: 350px;
    display: grid;
    place-content: center;
}

.logo{
    height: 300px
;
    width: 250px
;
    
}

.contenedorDescripcion{
    margin: 20px 10px;
    font-size: 15px;
    display: grid;
    
}

.contenedorDescripcion .nombre{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.contenedorBoton{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}


.description{
    color: black;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}